In [1]:
import pandas as pd
import geojson
import json

In [2]:
#Moving directory

cd Desktop\Janae

[WinError 3] The system cannot find the path specified: 'Desktop\\Janae'
C:\Users\raksh\Desktop\Janae

In [3]:
#Lists all files in directory

ls

 Volume in drive C is Windows
 Volume Serial Number is D420-47A7

 Directory of C:\Users\raksh\Desktop\Janae

22/06/2022  21:23    <DIR>          .
06/06/2022  15:09    <DIR>          ..
22/06/2022  21:10    <DIR>          .ipynb_checkpoints
15/05/2022  09:11           257,380 california-counties.geojson
20/03/2022  10:17            13,050 Crime_Statistics_Janae.xlsx
22/06/2022  21:00         3,522,010 crimes_data_final.csv
15/05/2022  09:49         5,573,348 Crimes_data-v1.csv
20/03/2022  10:10           282,376 Dataframes_and_Lambda_functions_tXC0wIP.ipynb
15/05/2022  09:53       265,746,743 Final_merged_data
22/06/2022  21:21        20,017,481 Final_merged_data.csv
22/06/2022  21:23           163,525 Geoplots.ipynb
15/05/2022  09:11         5,365,441 la-zip-code-areas-2012.geojson
23/03/2022  12:50            84,691 nyc-park-crime-stats-q4-2015.xlsx
22/06/2022  21:22            10,153 Plot generation.ipynb
20/03/2022  09:04             9,616 Practice_questions_7zZ45YT.ipynb
18/03/2022  20:03             1,031 samplecsv - Sheet1.tsv
18/03/2022  20:03             1,031 samplecsv .csv
20/03/2022  09:43             1,031 samplecsv.csv
27/03/2022  08:56           278,255 Session 4 - Plots and regressions.ipynb
18/03/2022  19:55            32,988 Session_3_-_Installing_Packages_eW4Z0Wf.ipynb
20/03/2022  09:10            33,503 Session_3_-_Installing_Packages_pSK2bCI.ipynb
26/03/2022  18:09        52,908,706 wine_data.csv
              19 File(s)    354,302,359 bytes
               3 Dir(s)  418,811,031,552 bytes free

In [4]:
data = pd.read_json('california-counties.geojson')

In [5]:
data

                 type                                           features
0   FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Al...
1   FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Al...
2   FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Am...
3   FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Bu...
4   FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Ca...
5   FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Co...
6   FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Co...
7   FeatureCollection  {'type': 'Feature', 'properties': {'name': 'De...
8   FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Tu...
9   FeatureCollection  {'type': 'Feature', 'properties': {'name': 'El...
10  FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Fr...
11  FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Gl...
12  FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Hu...
13  FeatureCollection  {'type': 'Feature', 'properties': {'name': 'In...
14  FeatureCollection  {'type': 'Feature', 'properties': {'name': 'La...
15  FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Sa...
16  FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Sa...
17  FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Si...
18  FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Si...
19  FeatureCollection  {'type': 'Feature', 'properties': {'name': 'So...
20  FeatureCollection  {'type': 'Feature', 'properties': {'name': 'So...
21  FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Lo...
22  FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Ma...
23  FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Ma...
24  FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Ma...
25  FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Me...
26  FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Me...
27  FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Mo...
28  FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Tu...
29  FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Im...
30  FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Sa...
31  FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Sh...
32  FeatureCollection  {'type': 'Feature', 'properties': {'name': 'St...
33  FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Su...
34  FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Te...
35  FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Tr...
36  FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Ke...
37  FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Sa...
38  FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Sa...
39  FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Sa...
40  FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Ve...
41  FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Yo...
42  FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Yu...
43  FeatureCollection  {'type': 'Feature', 'properties': {'name': 'La...
44  FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Ki...
45  FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Mo...
46  FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Mo...
47  FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Na...
48  FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Ne...
49  FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Or...
50  FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Pl...
51  FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Pl...
52  FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Ri...
53  FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Sa...
54  FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Sa...
55  FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Sa...
56  FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Sa...
57  FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Sa...

In [6]:
#Print first row and second column
data['features'][0]

{'type': 'Feature',
 'properties': {'name': 'Alameda',
  'cartodb_id': 1,
  'created_at': '2015-07-04T21:04:58Z',
  'updated_at': '2015-07-04T21:04:58Z'},
 'geometry': {'type': 'MultiPolygon',
  'coordinates': [[[[-122.312934, 37.897333],
     [-122.28848, 37.897925],
     [-122.27418, 37.905025],
     [-122.263946, 37.903734],
     [-122.249477, 37.893086],
     [-122.248914, 37.886867],
     [-122.223878, 37.878326],
     [-122.216276, 37.868822],
     [-122.220389, 37.864427],
     [-122.204094, 37.851387],
     [-122.196101, 37.842005],
     [-122.184177, 37.833926],
     [-122.185977, 37.820726],
     [-122.166873, 37.813424],
     [-122.157392, 37.817952],
     [-122.148808, 37.81376],
     [-122.140551, 37.804594],
     [-122.045473, 37.798126],
     [-122.030472, 37.787727],
     [-122.014072, 37.780227],
     [-121.997771, 37.763227],
     [-122.010771, 37.755127],
     [-122.011771, 37.747428],
     [-121.989971, 37.733628],
     [-121.97247, 37.728528],
     [-121.96077, 37.718629],
     [-121.910138, 37.73046],
     [-121.780364, 37.761827],
     [-121.666262, 37.790427],
     [-121.624161, 37.799127],
     [-121.55916, 37.818927],
     [-121.556936, 37.817218],
     [-121.557038, 37.815988],
     [-121.557002, 37.77346],
     [-121.556655, 37.542732],
     [-121.545754, 37.532532],
     [-121.522154, 37.524832],
     [-121.504153, 37.525932],
     [-121.496052, 37.504932],
     [-121.485452, 37.502532],
     [-121.469275, 37.489688],
     [-121.469824, 37.48833],
     [-121.471198, 37.485034],
     [-121.471198, 37.482829],
     [-121.471925, 37.481783],
     [-121.472952, 37.482333],
     [-121.689079, 37.482828],
     [-121.714961, 37.483635],
     [-121.865267, 37.484637],
     [-121.882603, 37.470554],
     [-121.909129, 37.462995],
     [-121.925454, 37.454438],
     [-121.92632, 37.454631],
     [-121.92785, 37.455262],
     [-121.927793, 37.457124],
     [-121.929132, 37.456906],
     [-121.932899, 37.455447],
     [-121.931128, 37.45739],
     [-121.931471, 37.460911],
     [-121.933378, 37.460762],
     [-121.932415, 37.460375],
     [-121.934612, 37.460486],
     [-121.935137, 37.46084],
     [-121.934958, 37.462221],
     [-121.934975, 37.462372],
     [-121.938816, 37.462412],
     [-121.965951, 37.462813],
     [-121.968425, 37.462],
     [-121.975345, 37.460653],
     [-121.980014, 37.460892],
     [-121.996537, 37.47027],
     [-122.018824, 37.468628],
     [-122.038455, 37.471084],
     [-122.0495, 37.468331],
     [-122.053311, 37.486273],
     [-122.04725, 37.493784],
     [-122.058544, 37.500456],
     [-122.09206, 37.509206],
     [-122.106109, 37.499784],
     [-122.110475, 37.505834],
     [-122.112419, 37.530957],
     [-122.120301, 37.546428],
     [-122.146171, 37.583609],
     [-122.146864, 37.60776],
     [-122.150932, 37.619092],
     [-122.153285, 37.642094],
     [-122.162176, 37.667465],
     [-122.16821, 37.676425],
     [-122.178287, 37.682292],
     [-122.189016, 37.695158],
     [-122.191146, 37.703895],
     [-122.211996, 37.709052],
     [-122.216742, 37.699739],
     [-122.249259, 37.722639],
     [-122.247517, 37.727968],
     [-122.261145, 37.740309],
     [-122.251848, 37.748084],
     [-122.226926, 37.748019],
     [-122.211357, 37.737931],
     [-122.207402, 37.743339],
     [-122.210689, 37.751219],
     [-122.222032, 37.758498],
     [-122.225337, 37.766287],
     [-122.238289, 37.77314],
     [-122.245026, 37.784537],
     [-122.258418, 37.785754],
     [-122.275809, 37.794002],
     [-122.305533, 37.793709],
     [-122.325285, 37.800162],
     [-122.31361, 37.827998],
     [-122.29647, 37.829977],
     [-122.302754, 37.861282],
     [-122.317044, 37.889191],
     [-122.312934, 37.897333]]],
   [[[-122.327913, 37.781195],
     [-122.331551, 37.786966],
     [-122.330661, 37.797182],
     [-122.30152, 37.790397],
     [-122.280554, 37.792116],
     [-122.26898, 37.785385],
     [-122.228034, 37.767196],
     [-122.225406, 37.755492],
     [-122.23598, 37.749653],
     [-122.270275, 37.76113],
     [-122.278, 37.768505],
     [-122.284174, 37.767423],
     [-122.30887, 37.776174],
     [-122.327913, 37.781195]]]]}}

In [7]:
data = data.drop(columns = ['type'])
data

                                             features
0   {'type': 'Feature', 'properties': {'name': 'Al...
1   {'type': 'Feature', 'properties': {'name': 'Al...
2   {'type': 'Feature', 'properties': {'name': 'Am...
3   {'type': 'Feature', 'properties': {'name': 'Bu...
4   {'type': 'Feature', 'properties': {'name': 'Ca...
5   {'type': 'Feature', 'properties': {'name': 'Co...
6   {'type': 'Feature', 'properties': {'name': 'Co...
7   {'type': 'Feature', 'properties': {'name': 'De...
8   {'type': 'Feature', 'properties': {'name': 'Tu...
9   {'type': 'Feature', 'properties': {'name': 'El...
10  {'type': 'Feature', 'properties': {'name': 'Fr...
11  {'type': 'Feature', 'properties': {'name': 'Gl...
12  {'type': 'Feature', 'properties': {'name': 'Hu...
13  {'type': 'Feature', 'properties': {'name': 'In...
14  {'type': 'Feature', 'properties': {'name': 'La...
15  {'type': 'Feature', 'properties': {'name': 'Sa...
16  {'type': 'Feature', 'properties': {'name': 'Sa...
17  {'type': 'Feature', 'properties': {'name': 'Si...
18  {'type': 'Feature', 'properties': {'name': 'Si...
19  {'type': 'Feature', 'properties': {'name': 'So...
20  {'type': 'Feature', 'properties': {'name': 'So...
21  {'type': 'Feature', 'properties': {'name': 'Lo...
22  {'type': 'Feature', 'properties': {'name': 'Ma...
23  {'type': 'Feature', 'properties': {'name': 'Ma...
24  {'type': 'Feature', 'properties': {'name': 'Ma...
25  {'type': 'Feature', 'properties': {'name': 'Me...
26  {'type': 'Feature', 'properties': {'name': 'Me...
27  {'type': 'Feature', 'properties': {'name': 'Mo...
28  {'type': 'Feature', 'properties': {'name': 'Tu...
29  {'type': 'Feature', 'properties': {'name': 'Im...
30  {'type': 'Feature', 'properties': {'name': 'Sa...
31  {'type': 'Feature', 'properties': {'name': 'Sh...
32  {'type': 'Feature', 'properties': {'name': 'St...
33  {'type': 'Feature', 'properties': {'name': 'Su...
34  {'type': 'Feature', 'properties': {'name': 'Te...
35  {'type': 'Feature', 'properties': {'name': 'Tr...
36  {'type': 'Feature', 'properties': {'name': 'Ke...
37  {'type': 'Feature', 'properties': {'name': 'Sa...
38  {'type': 'Feature', 'properties': {'name': 'Sa...
39  {'type': 'Feature', 'properties': {'name': 'Sa...
40  {'type': 'Feature', 'properties': {'name': 'Ve...
41  {'type': 'Feature', 'properties': {'name': 'Yo...
42  {'type': 'Feature', 'properties': {'name': 'Yu...
43  {'type': 'Feature', 'properties': {'name': 'La...
44  {'type': 'Feature', 'properties': {'name': 'Ki...
45  {'type': 'Feature', 'properties': {'name': 'Mo...
46  {'type': 'Feature', 'properties': {'name': 'Mo...
47  {'type': 'Feature', 'properties': {'name': 'Na...
48  {'type': 'Feature', 'properties': {'name': 'Ne...
49  {'type': 'Feature', 'properties': {'name': 'Or...
50  {'type': 'Feature', 'properties': {'name': 'Pl...
51  {'type': 'Feature', 'properties': {'name': 'Pl...
52  {'type': 'Feature', 'properties': {'name': 'Ri...
53  {'type': 'Feature', 'properties': {'name': 'Sa...
54  {'type': 'Feature', 'properties': {'name': 'Sa...
55  {'type': 'Feature', 'properties': {'name': 'Sa...
56  {'type': 'Feature', 'properties': {'name': 'Sa...
57  {'type': 'Feature', 'properties': {'name': 'Sa...

In [8]:
data['features'][0]

{'type': 'Feature',
 'properties': {'name': 'Alameda',
  'cartodb_id': 1,
  'created_at': '2015-07-04T21:04:58Z',
  'updated_at': '2015-07-04T21:04:58Z'},
 'geometry': {'type': 'MultiPolygon',
  'coordinates': [[[[-122.312934, 37.897333],
     [-122.28848, 37.897925],
     [-122.27418, 37.905025],
     [-122.263946, 37.903734],
     [-122.249477, 37.893086],
     [-122.248914, 37.886867],
     [-122.223878, 37.878326],
     [-122.216276, 37.868822],
     [-122.220389, 37.864427],
     [-122.204094, 37.851387],
     [-122.196101, 37.842005],
     [-122.184177, 37.833926],
     [-122.185977, 37.820726],
     [-122.166873, 37.813424],
     [-122.157392, 37.817952],
     [-122.148808, 37.81376],
     [-122.140551, 37.804594],
     [-122.045473, 37.798126],
     [-122.030472, 37.787727],
     [-122.014072, 37.780227],
     [-121.997771, 37.763227],
     [-122.010771, 37.755127],
     [-122.011771, 37.747428],
     [-121.989971, 37.733628],
     [-121.97247, 37.728528],
     [-121.96077, 37.718629],
     [-121.910138, 37.73046],
     [-121.780364, 37.761827],
     [-121.666262, 37.790427],
     [-121.624161, 37.799127],
     [-121.55916, 37.818927],
     [-121.556936, 37.817218],
     [-121.557038, 37.815988],
     [-121.557002, 37.77346],
     [-121.556655, 37.542732],
     [-121.545754, 37.532532],
     [-121.522154, 37.524832],
     [-121.504153, 37.525932],
     [-121.496052, 37.504932],
     [-121.485452, 37.502532],
     [-121.469275, 37.489688],
     [-121.469824, 37.48833],
     [-121.471198, 37.485034],
     [-121.471198, 37.482829],
     [-121.471925, 37.481783],
     [-121.472952, 37.482333],
     [-121.689079, 37.482828],
     [-121.714961, 37.483635],
     [-121.865267, 37.484637],
     [-121.882603, 37.470554],
     [-121.909129, 37.462995],
     [-121.925454, 37.454438],
     [-121.92632, 37.454631],
     [-121.92785, 37.455262],
     [-121.927793, 37.457124],
     [-121.929132, 37.456906],
     [-121.932899, 37.455447],
     [-121.931128, 37.45739],
     [-121.931471, 37.460911],
     [-121.933378, 37.460762],
     [-121.932415, 37.460375],
     [-121.934612, 37.460486],
     [-121.935137, 37.46084],
     [-121.934958, 37.462221],
     [-121.934975, 37.462372],
     [-121.938816, 37.462412],
     [-121.965951, 37.462813],
     [-121.968425, 37.462],
     [-121.975345, 37.460653],
     [-121.980014, 37.460892],
     [-121.996537, 37.47027],
     [-122.018824, 37.468628],
     [-122.038455, 37.471084],
     [-122.0495, 37.468331],
     [-122.053311, 37.486273],
     [-122.04725, 37.493784],
     [-122.058544, 37.500456],
     [-122.09206, 37.509206],
     [-122.106109, 37.499784],
     [-122.110475, 37.505834],
     [-122.112419, 37.530957],
     [-122.120301, 37.546428],
     [-122.146171, 37.583609],
     [-122.146864, 37.60776],
     [-122.150932, 37.619092],
     [-122.153285, 37.642094],
     [-122.162176, 37.667465],
     [-122.16821, 37.676425],
     [-122.178287, 37.682292],
     [-122.189016, 37.695158],
     [-122.191146, 37.703895],
     [-122.211996, 37.709052],
     [-122.216742, 37.699739],
     [-122.249259, 37.722639],
     [-122.247517, 37.727968],
     [-122.261145, 37.740309],
     [-122.251848, 37.748084],
     [-122.226926, 37.748019],
     [-122.211357, 37.737931],
     [-122.207402, 37.743339],
     [-122.210689, 37.751219],
     [-122.222032, 37.758498],
     [-122.225337, 37.766287],
     [-122.238289, 37.77314],
     [-122.245026, 37.784537],
     [-122.258418, 37.785754],
     [-122.275809, 37.794002],
     [-122.305533, 37.793709],
     [-122.325285, 37.800162],
     [-122.31361, 37.827998],
     [-122.29647, 37.829977],
     [-122.302754, 37.861282],
     [-122.317044, 37.889191],
     [-122.312934, 37.897333]]],
   [[[-122.327913, 37.781195],
     [-122.331551, 37.786966],
     [-122.330661, 37.797182],
     [-122.30152, 37.790397],
     [-122.280554, 37.792116],
     [-122.26898, 37.785385],
     [-122.228034, 37.767196],
     [-122.225406, 37.755492],
     [-122.23598, 37.749653],
     [-122.270275, 37.76113],
     [-122.278, 37.768505],
     [-122.284174, 37.767423],
     [-122.30887, 37.776174],
     [-122.327913, 37.781195]]]]}}

In [9]:
data['coordinates'] = data['features'].apply(lambda x: x['geometry']['coordinates'])
data

,features,coordinates
0,"{'type': 'Feature', 'properties': {'name': 'Al...","[[[[-122.312934, 37.897333], [-122.28848, 37.8..."
1,"{'type': 'Feature', 'properties': {'name': 'Al...","[[[-120.072392, 38.702767], [-119.964948, 38.7..."
2,"{'type': 'Feature', 'properties': {'name': 'Am...","[[[-121.027262, 38.489252], [-121.027406, 38.5..."
3,"{'type': 'Feature', 'properties': {'name': 'Bu...","[[[-121.879249, 39.303608], [-121.908312, 39.3..."
4,"{'type': 'Feature', 'properties': {'name': 'Ca...","[[[-120.876047, 38.028894], [-120.918749, 38.0..."
5,"{'type': 'Feature', 'properties': {'name': 'Co...","[[[-122.248517, 39.384961], [-122.136006, 39.3..."
6,"{'type': 'Feature', 'properties': {'name': 'Co...","[[[[-121.615148, 38.0996], [-121.599243, 38.09..."
7,"{'type': 'Feature', 'properties': {'name': 'De...","[[[-123.517907, 42.000854], [-123.519854, 41.9..."
8,"{'type': 'Feature', 'properties': {'name': 'Tu...","[[[-120.500441, 38.00663], [-120.492056, 38.01..."
9,"{'type': 'Feature', 'properties': {'name': 'El...","[[[-120.184098, 39.031014], [-120.18356, 39.03..."
10,"{'type': 'Feature', 'properties': {'name': 'Fr...","[[[-119.845538, 36.860502], [-119.843652, 36.8..."
11,"{'type': 'Feature', 'properties': {'name': 'Gl...","[[[-122.892676, 39.708898], [-122.912876, 39.7..."
12,"{'type': 'Feature', 'properties': {'name': 'Hu...","[[[-123.544453, 40.661175], [-123.544265, 40.4..."
13,"{'type': 'Feature', 'properties': {'name': 'In...","[[[-118.337927, 36.654834], [-118.329327, 36.6..."
14,"{'type': 'Feature', 'properties': {'name': 'La...","[[[-122.410887, 39.010295], [-122.411917, 38.9..."
15,"{'type': 'Feature', 'properties': {'name': 'Sa...","[[[-117.595944, 33.386416], [-117.57848, 33.45..."
16,"{'type': 'Feature', 'properties': {'name': 'Sa...","[[[[-122.393249, 37.70828], [-122.502827, 37.7..."
17,"{'type': 'Feature', 'properties': {'name': 'Si...","[[[-120.655409, 39.693842], [-120.654887, 39.6..."
18,"{'type': 'Feature', 'properties': {'name': 'Si...","[[[-121.447538, 41.997507], [-121.447647, 41.9..."
19,"{'type': 'Feature', 'properties': {'name': 'So...","[[[[-121.885882, 38.53876], [-121.883609, 38.5..."
20,"{'type': 'Feature', 'properties': {'name': 'So...","[[[-123.251118, 38.808402], [-123.136253, 38.8..."
21,"{'type': 'Feature', 'properties': {'name': 'Lo...","[[[[-118.94485, 34.045657], [-118.940801, 34.0..."
22,"{'type': 'Feature', 'properties': {'name': 'Ma...","[[[-120.399944, 37.118059], [-120.384886, 37.1..."
23,"{'type': 'Feature', 'properties': {'name': 'Ma...","[[[[-122.42034, 37.863192], [-122.41991, 37.86..."
24,"{'type': 'Feature', 'properties': {'name': 'Ma...","[[[-120.322514, 37.52669], [-120.38767, 37.633..."
25,"{'type': 'Feature', 'properties': {'name': 'Me...","[[[-123.063181, 39.503539], [-123.063015, 39.4..."
26,"{'type': 'Feature', 'properties': {'name': 'Me...","[[[-121.106162, 37.231835], [-121.06634, 37.26..."
27,"{'type': 'Feature', 'properties': {'name': 'Mo...","[[[-119.999866, 41.183974], [-120.177981, 41.1..."
28,"{'type': 'Feature', 'properties': {'name': 'Tu...","[[[-119.474892, 36.400953], [-119.528792, 36.4..."
29,"{'type': 'Feature', 'properties': {'name': 'Im...","[[[-115.87583, 33.426463], [-115.838844, 33.42..."
30,"{'type': 'Feature', 'properties': {'name': 'Sa...","[[[-121.984786, 37.141921], [-121.97274, 37.14..."
31,"{'type': 'Feature', 'properties': {'name': 'Sh...","[[[-122.001111, 41.18333], [-121.657793, 41.18..."
32,"{'type': 'Feature', 'properties': {'name': 'St...","[[[-120.400166, 37.643351], [-120.387329, 37.6..."
33,"{'type': 'Feature', 'properties': {'name': 'Su...","[[[-121.908048, 39.30377], [-121.879249, 39.30..."
34,"{'type': 'Feature', 'properties': {'name': 'Te...","[[[-122.199173, 40.377943], [-122.194288, 40.3..."
35,"{'type': 'Feature', 'properties': {'name': 'Tr...","[[[-123.623891, 40.928674], [-123.623662, 40.9..."
36,"{'type': 'Feature', 'properties': {'name': 'Ke...","[[[-119.997392, 35.439495], [-119.997382, 35.4..."
37,"{'type': 'Feature', 'properties': {'name': 'Sa...","[[[[-122.502827, 37.708133], [-122.393249, 37...."
38,"{'type': 'Feature', 'properties': {'name': 'Sa...","[[[[-120.496222, 34.993155], [-120.438098, 34...."
39,"{'type': 'Feature', 'properties': {'name': 'Sa...","[[[[-121.849086, 37.098997], [-121.850264, 37...."
40,"{'type': 'Feature', 'properties': {'name': 'Ve...","[[[[-119.47667, 34.373283], [-119.477837, 34.3..."
41,"{'type': 'Feature', 'properties': {'name': 'Yo...","[[[-121.693733, 38.450503], [-121.693639, 38.4..."
42,"{'type': 'Feature', 'properties': {'name': 'Yu...","[[[-121.205707, 39.30967], [-121.200146, 39.30..."
43,"{'type': 'Feature', 'properties': {'name': 'La...","[[[-120.750519, 41.184042], [-120.666668, 41.1..."
44,"{'type': 'Feature', 'properties': {'name': 'Ki...","[[[-119.475234, 36.313373], [-119.474607, 36.2..."
45,"{'type': 'Feature', 'properties': {'name': 'Mo...","[[[-119.308362, 38.009191], [-119.30459, 38.02..."
46,"{'type': 'Feature', 'properties': {'name': 'Mo...","[[[-121.809418, 36.851426000000004], [-121.801..."
47,"{'type': 'Feature', 'properties': {'name': 'Na...","[[[-122.569849, 38.529991], [-122.573999, 38.5..."
48,"{'type': 'Feature', 'properties': {'name': 'Ne...","[[[-120.714514, 39.483744], [-120.715171, 39.4..."
49,"{'type': 'Feature', 'properties': {'name': 'Or...","[[[[-118.099107, 33.776518], [-118.086738, 33...."
50,"{'type': 'Feature', 'properties': {'name': 'Pl...","[[[-121.064599, 39.007577], [-121.062227, 39.0..."
51,"{'type': 'Feature', 'properties': {'name': 'Pl...","[[[-121.350821, 39.825704], [-121.351079, 39.8..."
52,"{'type': 'Feature', 'properties': {'name': 'Ri...","[[[-117.673749, 33.870831], [-117.668985, 33.8..."
53,"{'type': 'Feature', 'properties': {'name': 'Sa...","[[[[-121.027084, 38.300252], [-121.04057, 38.2..."
54,"{'type': 'Feature', 'properties': {'name': 'Sa...","[[[-121.484726, 36.764142], [-121.505748, 36.7..."
55,"{'type': 'Feature', 'properties': {'name': 'Sa...","[[[-117.659757, 34.452769], [-117.660346, 34.5..."
56,"{'type': 'Feature', 'properties': {'name': 'Sa...","[[[[-121.557038, 37.815988], [-121.556936, 37...."
57,"{'type': 'Feature', 'properties': {'name': 'Sa...","[[[-121.347884, 35.79519], [-121.21735, 35.794..."

In [10]:
data['name'] = data['features'].apply(lambda x: x['properties']['name'])
data

,features,coordinates,name
0,"{'type': 'Feature', 'properties': {'name': 'Al...","[[[[-122.312934, 37.897333], [-122.28848, 37.8...",Alameda
1,"{'type': 'Feature', 'properties': {'name': 'Al...","[[[-120.072392, 38.702767], [-119.964948, 38.7...",Alpine
2,"{'type': 'Feature', 'properties': {'name': 'Am...","[[[-121.027262, 38.489252], [-121.027406, 38.5...",Amador
3,"{'type': 'Feature', 'properties': {'name': 'Bu...","[[[-121.879249, 39.303608], [-121.908312, 39.3...",Butte
4,"{'type': 'Feature', 'properties': {'name': 'Ca...","[[[-120.876047, 38.028894], [-120.918749, 38.0...",Calaveras
5,"{'type': 'Feature', 'properties': {'name': 'Co...","[[[-122.248517, 39.384961], [-122.136006, 39.3...",Colusa
6,"{'type': 'Feature', 'properties': {'name': 'Co...","[[[[-121.615148, 38.0996], [-121.599243, 38.09...",Contra Costa
7,"{'type': 'Feature', 'properties': {'name': 'De...","[[[-123.517907, 42.000854], [-123.519854, 41.9...",Del Norte
8,"{'type': 'Feature', 'properties': {'name': 'Tu...","[[[-120.500441, 38.00663], [-120.492056, 38.01...",Tuolumne
9,"{'type': 'Feature', 'properties': {'name': 'El...","[[[-120.184098, 39.031014], [-120.18356, 39.03...",El Dorado
10,"{'type': 'Feature', 'properties': {'name': 'Fr...","[[[-119.845538, 36.860502], [-119.843652, 36.8...",Fresno
11,"{'type': 'Feature', 'properties': {'name': 'Gl...","[[[-122.892676, 39.708898], [-122.912876, 39.7...",Glenn
12,"{'type': 'Feature', 'properties': {'name': 'Hu...","[[[-123.544453, 40.661175], [-123.544265, 40.4...",Humboldt
13,"{'type': 'Feature', 'properties': {'name': 'In...","[[[-118.337927, 36.654834], [-118.329327, 36.6...",Inyo
14,"{'type': 'Feature', 'properties': {'name': 'La...","[[[-122.410887, 39.010295], [-122.411917, 38.9...",Lake
15,"{'type': 'Feature', 'properties': {'name': 'Sa...","[[[-117.595944, 33.386416], [-117.57848, 33.45...",San Diego
16,"{'type': 'Feature', 'properties': {'name': 'Sa...","[[[[-122.393249, 37.70828], [-122.502827, 37.7...",San Francisco
17,"{'type': 'Feature', 'properties': {'name': 'Si...","[[[-120.655409, 39.693842], [-120.654887, 39.6...",Sierra
18,"{'type': 'Feature', 'properties': {'name': 'Si...","[[[-121.447538, 41.997507], [-121.447647, 41.9...",Siskiyou
19,"{'type': 'Feature', 'properties': {'name': 'So...","[[[[-121.885882, 38.53876], [-121.883609, 38.5...",Solano
20,"{'type': 'Feature', 'properties': {'name': 'So...","[[[-123.251118, 38.808402], [-123.136253, 38.8...",Sonoma
21,"{'type': 'Feature', 'properties': {'name': 'Lo...","[[[[-118.94485, 34.045657], [-118.940801, 34.0...",Los Angeles
22,"{'type': 'Feature', 'properties': {'name': 'Ma...","[[[-120.399944, 37.118059], [-120.384886, 37.1...",Madera
23,"{'type': 'Feature', 'properties': {'name': 'Ma...","[[[[-122.42034, 37.863192], [-122.41991, 37.86...",Marin
24,"{'type': 'Feature', 'properties': {'name': 'Ma...","[[[-120.322514, 37.52669], [-120.38767, 37.633...",Mariposa
25,"{'type': 'Feature', 'properties': {'name': 'Me...","[[[-123.063181, 39.503539], [-123.063015, 39.4...",Mendocino
26,"{'type': 'Feature', 'properties': {'name': 'Me...","[[[-121.106162, 37.231835], [-121.06634, 37.26...",Merced
27,"{'type': 'Feature', 'properties': {'name': 'Mo...","[[[-119.999866, 41.183974], [-120.177981, 41.1...",Modoc
28,"{'type': 'Feature', 'properties': {'name': 'Tu...","[[[-119.474892, 36.400953], [-119.528792, 36.4...",Tulare
29,"{'type': 'Feature', 'properties': {'name': 'Im...","[[[-115.87583, 33.426463], [-115.838844, 33.42...",Imperial
30,"{'type': 'Feature', 'properties': {'name': 'Sa...","[[[-121.984786, 37.141921], [-121.97274, 37.14...",Santa Cruz
31,"{'type': 'Feature', 'properties': {'name': 'Sh...","[[[-122.001111, 41.18333], [-121.657793, 41.18...",Shasta
32,"{'type': 'Feature', 'properties': {'name': 'St...","[[[-120.400166, 37.643351], [-120.387329, 37.6...",Stanislaus
33,"{'type': 'Feature', 'properties': {'name': 'Su...","[[[-121.908048, 39.30377], [-121.879249, 39.30...",Sutter
34,"{'type': 'Feature', 'properties': {'name': 'Te...","[[[-122.199173, 40.377943], [-122.194288, 40.3...",Tehama
35,"{'type': 'Feature', 'properties': {'name': 'Tr...","[[[-123.623891, 40.928674], [-123.623662, 40.9...",Trinity
36,"{'type': 'Feature', 'properties': {'name': 'Ke...","[[[-119.997392, 35.439495], [-119.997382, 35.4...",Kern
37,"{'type': 'Feature', 'properties': {'name': 'Sa...","[[[[-122.502827, 37.708133], [-122.393249, 37....",San Mateo
38,"{'type': 'Feature', 'properties': {'name': 'Sa...","[[[[-120.496222, 34.993155], [-120.438098, 34....",Santa Barbara
39,"{'type': 'Feature', 'properties': {'name': 'Sa...","[[[[-121.849086, 37.098997], [-121.850264, 37....",Santa Clara
40,"{'type': 'Feature', 'properties': {'name': 'Ve...","[[[[-119.47667, 34.373283], [-119.477837, 34.3...",Ventura
41,"{'type': 'Feature', 'properties': {'name': 'Yo...","[[[-121.693733, 38.450503], [-121.693639, 38.4...",Yolo
42,"{'type': 'Feature', 'properties': {'name': 'Yu...","[[[-121.205707, 39.30967], [-121.200146, 39.30...",Yuba
43,"{'type': 'Feature', 'properties': {'name': 'La...","[[[-120.750519, 41.184042], [-120.666668, 41.1...",Lassen
44,"{'type': 'Feature', 'properties': {'name': 'Ki...","[[[-119.475234, 36.313373], [-119.474607, 36.2...",Kings
45,"{'type': 'Feature', 'properties': {'name': 'Mo...","[[[-119.308362, 38.009191], [-119.30459, 38.02...",Mono
46,"{'type': 'Feature', 'properties': {'name': 'Mo...","[[[-121.809418, 36.851426000000004], [-121.801...",Monterey
47,"{'type': 'Feature', 'properties': {'name': 'Na...","[[[-122.569849, 38.529991], [-122.573999, 38.5...",Napa
48,"{'type': 'Feature', 'properties': {'name': 'Ne...","[[[-120.714514, 39.483744], [-120.715171, 39.4...",Nevada
49,"{'type': 'Feature', 'properties': {'name': 'Or...","[[[[-118.099107, 33.776518], [-118.086738, 33....",Orange
50,"{'type': 'Feature', 'properties': {'name': 'Pl...","[[[-121.064599, 39.007577], [-121.062227, 39.0...",Placer
51,"{'type': 'Feature', 'properties': {'name': 'Pl...","[[[-121.350821, 39.825704], [-121.351079, 39.8...",Plumas
52,"{'type': 'Feature', 'properties': {'name': 'Ri...","[[[-117.673749, 33.870831], [-117.668985, 33.8...",Riverside
53,"{'type': 'Feature', 'properties': {'name': 'Sa...","[[[[-121.027084, 38.300252], [-121.04057, 38.2...",Sacramento
54,"{'type': 'Feature', 'properties': {'name': 'Sa...","[[[-121.484726, 36.764142], [-121.505748, 36.7...",San Benito
55,"{'type': 'Feature', 'properties': {'name': 'Sa...","[[[-117.659757, 34.452769], [-117.660346, 34.5...",San Bernardino
56,"{'type': 'Feature', 'properties': {'name': 'Sa...","[[[[-121.557038, 37.815988], [-121.556936, 37....",San Joaquin
57,"{'type': 'Feature', 'properties': {'name': 'Sa...","[[[-121.347884, 35.79519], [-121.21735, 35.794...",San Luis Obispo

In [11]:
df = pd.read_csv('Crimes_data_final.csv')
df

,Year,County,NCICCode,Homicide_sum,Robbery_sum,AggAssault_sum,Burglary_sum,LTtotal_sum,HomicideClr_sum,RobberyClr_sum,...,PSLARnao_sum,SLLARnao_sum,BILARnao_sum,FBLARnao_sum,COMLARnao_sum,AOLARnao_sum,LT400nao_sum,LT200400nao_sum,LT50200nao_sum,LT50nao_sum
0,1985,Alameda County,Alameda Co. Sheriff's Department,3,166,231,1483,2128,4,32,...,60,289,205,44,11,475,753,437,440,498
1,1985,Alameda County,Alameda,7,220,163,989,3237,7,67,...,20,664,516,183,53,559,540,622,916,1159
2,1985,Alameda County,Albany,1,58,38,161,418,1,23,...,4,40,39,46,17,37,84,68,128,138
3,1985,Alameda County,Berkeley,11,660,450,2930,8236,4,198,...,163,1277,611,1877,18,496,533,636,2793,4274
4,1985,Alameda County,Emeryville,0,82,59,205,664,0,4,...,4,1,16,85,24,169,217,122,161,164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26404,2020,Yuba County,Yuba Co. Sheriff's Department,2,40,197,247,608,2,20,...,7,37,3,55,2,275,298,67,93,150
26405,2020,Yuba County,Marysville,0,15,107,63,205,0,4,...,0,27,6,22,0,50,76,44,31,54
26406,2020,Yuba County,Wheatland,0,2,4,8,39,0,2,...,0,4,0,7,0,8,22,5,6,6
26407,2020,Yuba County,Union Pacific RR - Yuba,0,0,0,0,3,0,0,...,0,0,0,0,0,3,0,0,0,3
26408,2020,Yuba County,CA Highway Patrol - Yuba,0,0,0,0,45,0,0,...,0,0,0,0,0,10,10,0,1,34

In [12]:
df['name'] = df['County'].apply(lambda x: x[:-7])
df

,Year,County,NCICCode,Homicide_sum,Robbery_sum,AggAssault_sum,Burglary_sum,LTtotal_sum,HomicideClr_sum,RobberyClr_sum,...,SLLARnao_sum,BILARnao_sum,FBLARnao_sum,COMLARnao_sum,AOLARnao_sum,LT400nao_sum,LT200400nao_sum,LT50200nao_sum,LT50nao_sum,name
0,1985,Alameda County,Alameda Co. Sheriff's Department,3,166,231,1483,2128,4,32,...,289,205,44,11,475,753,437,440,498,Alameda
1,1985,Alameda County,Alameda,7,220,163,989,3237,7,67,...,664,516,183,53,559,540,622,916,1159,Alameda
2,1985,Alameda County,Albany,1,58,38,161,418,1,23,...,40,39,46,17,37,84,68,128,138,Alameda
3,1985,Alameda County,Berkeley,11,660,450,2930,8236,4,198,...,1277,611,1877,18,496,533,636,2793,4274,Alameda
4,1985,Alameda County,Emeryville,0,82,59,205,664,0,4,...,1,16,85,24,169,217,122,161,164,Alameda
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26404,2020,Yuba County,Yuba Co. Sheriff's Department,2,40,197,247,608,2,20,...,37,3,55,2,275,298,67,93,150,Yuba
26405,2020,Yuba County,Marysville,0,15,107,63,205,0,4,...,27,6,22,0,50,76,44,31,54,Yuba
26406,2020,Yuba County,Wheatland,0,2,4,8,39,0,2,...,4,0,7,0,8,22,5,6,6,Yuba
26407,2020,Yuba County,Union Pacific RR - Yuba,0,0,0,0,3,0,0,...,0,0,0,0,3,0,0,0,3,Yuba
26408,2020,Yuba County,CA Highway Patrol - Yuba,0,0,0,0,45,0,0,...,0,0,0,0,10,10,0,1,34,Yuba

In [13]:
df['name'].value_counts()

Los Angeles        3675
Orange             1456
San Bernardino     1118
Riverside          1111
Contra Costa        940
San Diego           884
Santa Clara         868
Alameda             848
San Mateo           846
Fresno              715
Monterey            646
Ventura             632
Sonoma              609
Sacramento          545
Kern                540
San Luis Obispo     540
Marin               531
Stanislaus          500
Santa Barbara       464
Tulare              438
Siskiyou            435
Humboldt            409
San Joaquin         400
Merced              400
Solano              388
Butte               383
Imperial            356
Santa Cruz          345
Napa                316
Yolo                304
Placer              300
Kings               298
San Francisco       269
Mendocino           240
Amador              217
Shasta              210
Nevada              207
San Benito          195
Yuba                192
El Dorado           188
Madera              186
Calaveras           180
Colusa              180
Tehama              180
Glenn               177
Lassen              162
Lake                152
Inyo                144
Modoc               144
Sutter              139
Plumas              116
Tuolumne            116
Sierra              108
Trinity             108
Del Norte           108
Mono                107
Mariposa             72
Alpine               72
Name: name, dtype: int64

In [14]:
final = df.merge(data, on = 'name')
final

,Year,County,NCICCode,Homicide_sum,Robbery_sum,AggAssault_sum,Burglary_sum,LTtotal_sum,HomicideClr_sum,RobberyClr_sum,...,FBLARnao_sum,COMLARnao_sum,AOLARnao_sum,LT400nao_sum,LT200400nao_sum,LT50200nao_sum,LT50nao_sum,name,features,coordinates
0,1985,Alameda County,Alameda Co. Sheriff's Department,3,166,231,1483,2128,4,32,...,44,11,475,753,437,440,498,Alameda,"{'type': 'Feature', 'properties': {'name': 'Al...","[[[[-122.312934, 37.897333], [-122.28848, 37.8..."
1,1985,Alameda County,Alameda,7,220,163,989,3237,7,67,...,183,53,559,540,622,916,1159,Alameda,"{'type': 'Feature', 'properties': {'name': 'Al...","[[[[-122.312934, 37.897333], [-122.28848, 37.8..."
2,1985,Alameda County,Albany,1,58,38,161,418,1,23,...,46,17,37,84,68,128,138,Alameda,"{'type': 'Feature', 'properties': {'name': 'Al...","[[[[-122.312934, 37.897333], [-122.28848, 37.8..."
3,1985,Alameda County,Berkeley,11,660,450,2930,8236,4,198,...,1877,18,496,533,636,2793,4274,Alameda,"{'type': 'Feature', 'properties': {'name': 'Al...","[[[[-122.312934, 37.897333], [-122.28848, 37.8..."
4,1985,Alameda County,Emeryville,0,82,59,205,664,0,4,...,85,24,169,217,122,161,164,Alameda,"{'type': 'Feature', 'properties': {'name': 'Al...","[[[[-122.312934, 37.897333], [-122.28848, 37.8..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26404,2020,Yuba County,Yuba Co. Sheriff's Department,2,40,197,247,608,2,20,...,55,2,275,298,67,93,150,Yuba,"{'type': 'Feature', 'properties': {'name': 'Yu...","[[[-121.205707, 39.30967], [-121.200146, 39.30..."
26405,2020,Yuba County,Marysville,0,15,107,63,205,0,4,...,22,0,50,76,44,31,54,Yuba,"{'type': 'Feature', 'properties': {'name': 'Yu...","[[[-121.205707, 39.30967], [-121.200146, 39.30..."
26406,2020,Yuba County,Wheatland,0,2,4,8,39,0,2,...,7,0,8,22,5,6,6,Yuba,"{'type': 'Feature', 'properties': {'name': 'Yu...","[[[-121.205707, 39.30967], [-121.200146, 39.30..."
26407,2020,Yuba County,Union Pacific RR - Yuba,0,0,0,0,3,0,0,...,0,0,3,0,0,0,3,Yuba,"{'type': 'Feature', 'properties': {'name': 'Yu...","[[[-121.205707, 39.30967], [-121.200146, 39.30..."
26408,2020,Yuba County,CA Highway Patrol - Yuba,0,0,0,0,45,0,0,...,0,0,10,10,0,1,34,Yuba,"{'type': 'Feature', 'properties': {'name': 'Yu...","[[[-121.205707, 39.30967], [-121.200146, 39.30..."

In [15]:
final.to_csv('Final_merged_data.csv')

In [16]:
ls

 Volume in drive C is Windows
 Volume Serial Number is D420-47A7

 Directory of C:\Users\raksh\Desktop\Janae

22/06/2022  21:26    <DIR>          .
06/06/2022  15:09    <DIR>          ..
22/06/2022  21:10    <DIR>          .ipynb_checkpoints
15/05/2022  09:11           257,380 california-counties.geojson
20/03/2022  10:17            13,050 Crime_Statistics_Janae.xlsx
22/06/2022  21:00         3,522,010 crimes_data_final.csv
15/05/2022  09:49         5,573,348 Crimes_data-v1.csv
20/03/2022  10:10           282,376 Dataframes_and_Lambda_functions_tXC0wIP.ipynb
15/05/2022  09:53       265,746,743 Final_merged_data
22/06/2022  21:26       263,695,405 Final_merged_data.csv
22/06/2022  21:23           163,525 Geoplots.ipynb
15/05/2022  09:11         5,365,441 la-zip-code-areas-2012.geojson
23/03/2022  12:50            84,691 nyc-park-crime-stats-q4-2015.xlsx
22/06/2022  21:26            28,942 Plot generation.ipynb
20/03/2022  09:04             9,616 Practice_questions_7zZ45YT.ipynb
18/03/2022  20:03             1,031 samplecsv - Sheet1.tsv
18/03/2022  20:03             1,031 samplecsv .csv
20/03/2022  09:43             1,031 samplecsv.csv
27/03/2022  08:56           278,255 Session 4 - Plots and regressions.ipynb
18/03/2022  19:55            32,988 Session_3_-_Installing_Packages_eW4Z0Wf.ipynb
20/03/2022  09:10            33,503 Session_3_-_Installing_Packages_pSK2bCI.ipynb
26/03/2022  18:09        52,908,706 wine_data.csv
              19 File(s)    597,999,072 bytes
               3 Dir(s)  418,567,262,208 bytes free